.brand {
  width: 100%;
  height: 225px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .brand-center {
    width: 87%;
    height: 100%;
    border: 1px #e0e0e2 solid;
    border-radius: 16px;
    padding: 10px 0;
    .brand-center-head {
      width: 100%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      h3 {
        width: 100%;
        height: 100%;
        color: #000000;
        font-family: var(--font-family);
        font-size: 22px;
        text-align: center;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .swiper {
      width: 100%;
      height: 70%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-brand {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 110px;
          height: 110px;
          object-fit: contain;
        }
      }
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
